body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background: #f0f5f9; /* fondo claro */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #1e2022; /* texto */
}

.container {
  background: #c9d6df; /* contenedor gris claro */
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  width: 100%;
}

h1 {
  color: #1e2022;
  margin-bottom: 1.5rem;
}

button {
  padding: 0.6rem 1.2rem;
  background-color: #52616b; /* botón gris oscuro */
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}

button:hover {
  background-color: #1e2022;
}

.flag-area {
  margin: 2rem 0;
}

.flag-area img {
  width: 300px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: 2px solid #ccc;
}

.options-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem;
}

.options-box button {
  margin: 0.5rem;
  background-color: #f0f5f9;
  color: #1e2022;
  border: 1px solid #52616b;
}

.options-box button:hover {
  background-color: #c9d6df;
}

.result-area {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #1e2022;
}

footer {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #52616b;
}