/* Fondo estático en el orden correcto */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
   background-color: #f0f5f9; /* fondo suave claro */
  color: #1e2022;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* Contenedor */
.converter-container {
  background: #c9d6df;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  width: 90%;
  max-width: 500px;
}

/* Etiquetas, selectores e inputs */
label, select, input {
  display: block;
  margin: 15px auto;
  font-size: 1rem;
  width: 80%;
  max-width: 400px;
}

/* Botón */
button {
  background-color: #52616b;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(68, 59, 76, 0.3);
}

/* Resultado */
#result {
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

/* Pie de página */
footer {
  margin-top: 40px;
  color: #666;
  font-size: 0.9rem;
}